/* General body styling */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to bottom, #1c1c1c 30%, #b02a1c 60%, #e74c3c);
}

/* Container styling */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Header styling */
h1 {
    color: white;
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Logo styling */
.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.logo img {
    max-width: 250px;
    max-height: 250px;
}

/* Form container styling */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Form styling */
form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    background: transparent;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: white;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input:invalid {
    border-color: red;
}

#emailMessage {
    font-size: 15px;
    margin-top: -10px;
    margin-bottom: 10px;
    color: red;
}

button {
    width: 100%;
    padding: 15px;
    background: black;
    border: none;
    border-radius: 25px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background:darkred;
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(255,0,0,0.5);
}